html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(dragonfly.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.container1 {
    width: 400px;
    height: 400px;
    margin-left: 500px;
    margin-top: 100px;
    margin-bottom: 300px;
}

.flex-container {
    width: 50%;
    height: 150px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 120px;
    margin-top: 100px;
    flex-direction: row;
    border-radius: 20px;
    background-color: none;
}

.div-header {
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: flexbox;
    margin-bottom: 100px;
}