html,
.container {
    height: 100vh;
    width: 100%;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    opacity: 80%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    font-weight: bolder;
}

.canvas {
    margin-bottom: 50px;
}